{%extends "QA\\base.html"%}
{% block content %}

    <div class="container-fluid ">

      <div class="row d-flex justify-content-center align-items-center h-custom p-5 pt-3">
        
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        

        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <form method="post" action="{% url 'user-login' %}">
            {% csrf_token %}

            {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
            <!-- username input -->
            <div class="form-outline mb-4">
                {{form.username}}
              <!-- <input type="email" id="form3Example3" class="form-control form-control-lg"
                placeholder="Enter a valid email address" /> -->
              <label class="form-label" for="form3Example3">Username</label>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
                {{form.password}}
              <!-- <input type="password" id="form3Example4" class="form-control form-control-lg"
                placeholder="Enter password" /> -->
              <label class="form-label" for="form3Example4">Password</label>
            </div>
  
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                  Remember me
                </label>
              </div>
              <a href="#!" class="text-body">Forgot password?</a>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <input type="submit" value="Login" class="btn btn-primary btn-lg px-5">
             
              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                  class="link-danger">Register</a></p>
            </div>
  
          </form>
        </div>
      </div>

      <!-- end row -->
    </div>


    
    
    <script>
        var usernameBox = document.getElementById("id_username");
        usernameBox.setAttribute('placeholder', 'Enter a valid email address');
        usernameBox.setAttribute('class', 'form-control form-control-lg');

        var passwordBox = document.getElementById("id_password");
        passwordBox.setAttribute('placeholder', 'Enter Password');
        passwordBox.setAttribute('class', 'form-control form-control-lg');

     

    </script>
{% endblock %}

