{% extends "QA\base.html"%}

{% block content %}
<!-- categories -->
<div class="categories-section">
    <div class="container py-5 text-center">

        <div class="row ">
            
            {% for cat in category_list %}
            
            <div class="col-md-6 col-lg-4 col-xxl-3 my-4">
                <div  class="card mx-auto" style="width: 18rem;">
                    <img src="{{cat.image.url}}" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <a href="{% url 'category' cat.name %}" class="stretched-link text-decoration-none text-dark text-uppercase"> <h5 class="card-title"> {{cat.name}} </h5> </a>                  
                    </div>
                </div>
            </div>
            
            {%endfor%}
            
            
              </div>
              <!--end roow -->
            </div>
        </div>
           <!-- end categories -->
{% endblock  %}