{%extends "QA\\base.html" %}



{%block content%}


<style>
    .answers-section   {
        max-width: 700px;
    }

</style>
    <div class="container h-custom py-3">

        {% include "QA\\post.html"%}
      

        <div class="answers-section bg-light container p-5">
            <h5>answer{{ answers | pluralize}}</h5>

            
            {% for ans in answers %}
            
            <div class="card pt-3 px-3 my-3">

                <a  class="card-subtitle text-decoration-none text-black-50" href =""><h6>@{{ans.author.username}}</h6></a>
                <p class="ps-2">{{ans.text}}</p>


            </div>
                {%endfor%}
                
            {% if   request.user.is_authenticated %}
        
        
                <form method="post">
                    {% csrf_token %}
                
                    <label for="id_text">write your answer</label>
                    {{form.text}}
                    <button class="btn btn-primary p-1">submit</button>
                
                </form>
                {% endif %}

        </div>
        


    </div>

<script>

    
    
    function displayReadmore()
    {
        
        var a = document.getElementById("collapse-link{{question.id}}");
        var p = document.getElementById("collapseSummary{{question.id}}");
        if (p.offsetHeight <= 63 )
        {
            a.style.display="none"; 
        }
        else
        {
            a.style.display="block"; 
        }
        
    }
    
    displayReadmore();
   
    var form_input = document.getElementById("id_text");
    form_input.setAttribute('class', 'form-control my-3');
    form_input.setAttribute('rows', '4');
    
    window.addEventListener('resize', (event) => {
        
        displayReadmore();
            
        });    
        



</script>


{% endblock%}