{% extends "QA\base.html" %}
{% block content %}


<div class="container h-custom bg-light p-4 my-2">
        {%for question in questions %}

        {% include "QA\\post.html" %}
      
            
        {%endfor%}
</div>

<script>
    
    function displayReadmore()
    {
        {% for question in questions %}
        var a = document.getElementById("collapse-link{{q.id}}");
        var p = document.getElementById("collapseSummary{{q.id}}");
        if (p.offsetHeight <= 63 )
        {
            a.style.display="none"; 
        }
        else
        {
            a.style.display="block"; 
        }
    {%endfor%}
    }

    displayReadmore();
    
    window.addEventListener('resize', (event) => {
        
        displayReadmore();
            
     });    
        



</script>
{%endblock%}