
.top-section
{
   min-height: calc(100vh - 58px);
}


.navbar .navbar-nav .nav-link , .navbar-brand 
{
    color: white;
    
}


.login-btn {
    color: white;
    background-color: #0b2a6b;
}
.login-btn:hover {
   
    color : #0b2a6b;
    background-color: white;
}



.logout-btn:hover {
   
    color : #dc3545;
    background-color: white;
    border-color: white;
}

.search-li {
    position: relative;
}

@media(min-width: 992px)
{
    .search-li::before {
        
        background-color: #e1f3fd;
        width: 2px;
        height: 60%;
        content: '';
        display: inline-block;
        position: absolute;
        left: -6px;
        top: 50%;
        transform: translate(-50% , -50%);
       
    }
}

.navbar .navbar-nav .nav-link:hover
{
    color : #0b2a6b;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.qoute 
{
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}
.categories-section
{
    background-color: #e1f3fd;
}
.categories-section h3 
{
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 3rem;
    color:#0b2a6b;
}

.categories-section .card img {
    height: 190px;
}

.search-section {
    
    background-image: url("../images/qm-blue.png");
    background-size: 200px;
}



.h-custom {
    min-height: calc(100vh - 73px);
    
}


.w-custom {
    max-width: 700px;
}


#card-body p{
    font-size: 14px;
    line-height: 1.5;
  }
  
  #card-body p.collapse:not(.show) {
      max-height: 64px !important;
      overflow: hidden;        
      display: -webkit-box;

  }
  
  #card-body p.collapsing {
     min-height: 63px !important;
  }
  
  #card-body a[aria-expanded="false"]:after {
      content: '+ Read More';
  }
  
  #card-body a[aria-expanded="true"]:after {
      content: '- Read Less';
  }
  